[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
lockr = {editable = true, extras = ["develop"], path = "."}

[packages]
lockr = {editable = true, path = "."}

[requires]
python_version = "3.8"
